*{
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(31, 144, 144);
    color: white;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

#purchased_vouchers{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 25px;
}

.voucher{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 15px;
    text-align: center;
}

.voucher>img{
    width: 100%;
    margin-bottom: 15px;
}

.voucher>p{
    color: dodgerblue;
    font-size: 1em;
    margin-top: 5px;
}